<div class="contact-page">
    <div class="container">
        <div class="heading">
            <h2 data-aos="fade-down-right" data-aos-duration="1500">Contact Me</h2>
        </div>
        <div class="contact-form d-flex flex-column flex-sm-column flex-lg-row flex-md-column gap-3 " data-aos="fade-up-right" data-aos-duration="1700">
            <form action="" class="d-flex flex-column gap-2" data-aos="zoom-in-out" data-aos-duration="1500" data-aos-easing="linear">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="email">Email Id</label>
                <input type="text" name="email" id="email">
                <label for="message">Messages</label>
                <textarea name="message" rows="5" cols="6" id="message"></textarea>
                <button class="btn"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
            <div class="personal-details">
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Ganeshnagar, Madipakkam, Chennai.</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>+91 9047085***</p>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <p>vishnujegadhesh2615&#64;gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>