<div class="about-page">
    <div class="container">
        <div class="heading-section" >
            <h2 data-aos="fade-down-right" data-aos-duration="1500" data-aos-easing="linear">About Me</h2>
        </div>
        <div class="body-section" data-aos="fade-right" data-aos-duration="1200" data-aos-easing="linear">
            <p>Enthusiastic and motivated aspiring web developer with a keen interest in front-end and back-end development. Recently graduated with a Bachelor in computer science(B.Sc) from Alagappa University, where I developed a solid foundation in programming languages and web development frameworks. I am passionate about creating responsive and user-friendly web applications that enhance the digital experience. Eager to leverage my skills and knowledge to contribute to innovative projects and continue learning in a dynamic work environment.</p>
        </div>
        <div class="keyskills">
            <h2 data-aos="fade-down-right" data-aos-duration="1500" data-aos-easing="linear">Key Skills</h2>
            <div class="key-skill">
                <div class="skill" data-aos="fade-right" data-aos-duration="1500">
                    <p>Proficient in HTML, CSS, and JavaScript.</p>
                </div>
                <div class="skill"  data-aos="fade-left" data-aos-duration="1500">
                   <p>Familiar with front-end frameworks like React and Angular.</p> 
                </div>
                <div class="skill"  data-aos="fade-right" data-aos-duration="1500">
                    <p>Experience with back-end technologies such as Node.js and Express</p>
                </div>
                <div class="skill"  data-aos="fade-left" data-aos-duration="1500">
                   <p>Knowledge of database management systems like MongoDB and MySQL.</p> 
                </div>
                <div class="skill"  data-aos="fade-right" data-aos-duration="1500">
                   <p>Strong problem-solving and troubleshooting abilities.</p> 
                </div>
            </div>
        </div>
    </div>
</div>