.my-skills-page{
    background-color: var(--primary-color-10);
}
.container{
    padding: 20px;
}
.heading
{
    padding:10px;
}
.heading h2{
    font-size: 45px;
    font-family: "wittgenstein",serif;
    font-style: italic;
    font-weight: 600;
    color: var(--primary-color-2);
    text-align: center;
}
.body-section{
    padding: 35px;
}
.skills-section a{
    text-decoration: none;
}
.skill{
background-color: var(--primary-color-2);
width: 300px;
height: 180px;
padding: 10px;
border-radius: 20px;
}
.skill i{
    font-size: 80px;
    color: var(--primary-color-10);
}
.skill p{
    font-size: 20px;
    font-family: "poppins",sans-serif;
    font-style: italic;
    font-weight: 600;
    color: var(--primary-color-10);
}
.skill:hover{
    background-color: var(--primary-color-7);
}

@media(max-width:430px)
{
    .heading h2{
        font-size: 22px;
        text-align: left;
    }
    .skill
    {
        width: 200px;
    }
}