<div class="footer-page">
    <div class="container">
        <div class="body-section d-flex flex-column gap-3 justify-content-center align-items-center" data-aos="fade-down-left" data-aos-duration="1500" data-aos-easing="linear">
            <div class="heading">
                <h3>VISHNU VARDHANAN</h3>
            </div>
            <div class="social-media d-flex gap-3">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-github" ></i>
            </div>
        </div>
        <hr>
        <div class="copy-ryt">
           copyright ©2024, Vishnu Vardhanan. All rights reserved. 
        </div>
    </div>
</div>